@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
* {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 8000px;
}

a {
  text-decoration: none;
  position: relative;
  transition: opacity 300ms ease;
}

.hover {
    color: mediumslateblue;
}

.link__hover-effect:after {
  content: "";
  position: absolute;
  height: 3px;
  width: 0;
  bottom: 3px;
  right: 0;
  transition: all 300ms ease;
  color: mediumslateblue;
}

.link__hover-effect--white:after {
  background-color: #fff;
}
.link__hover-effect--black:after {
  background-color: mediumslateblue;
}

.link__hover-effect:hover:after {
  width: 100%;
  left: 0;
  color: mediumslateblue;
}

li {
  list-style-type: none;
}

.flex {
  display: flex;
}

.container {
  padding: 50px 0;
}
.row {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 12px;
}

/* NAVIGATION BAR */

nav {
  height: 100px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
}

.nav__link--list {
  display: flex;
}

.nav__link--anchor {
  margin: 0 12px;
  color: black;
  font-weight: 700;
}

.nav__link--anchor-primary {
    background-color: mediumslateblue;
    padding: 4px 20px;
    border-radius: 50px;
    color: white;
    transition: all 300ms ease;
  }

.nav__link--anchor-primary:hover {
  background-color: mediumorchid;
}

.personal__logo {
 width: 25%;
 height: 50%;
 padding-right: 10px;
}

 .link__list {
    padding-left: 50px;
}

h1 {
   color: black;
}

.NAV--BAR {
  display: flex;
  align-items: center;
  position: relative;
}

/*  BOX-1 */



.input-email {
  width: 330px;
  display: flex;
  justify-content: space-between;
  border: 1.5px solid darkgrey;
  padding: 5px;
  border-radius: 60px;
  overflow: hidden;
  height: 50px;
}

.input-container {
  border: none;
  outline: none;
  padding-bottom: 20px;
  padding-top: 30px;
  display: flex;
}

.link-purple {
  background-color: mediumslateblue;
  /*width*/
  padding: 12px;
  border: none;
  border-radius: 60px;
  color: white;
  width: 110px; 
}

.link-purple:hover {
  cursor: pointer;
}

.header-title {
  font-size: 36px;
  padding-top: 20px;
}

.customers {
  padding-top: 110px;
  color: darkgrey;
}

.header-container {
  display: flex;
}

.purple {
  color: mediumslateblue;
}

.undraw-image1 {
  width: 60%;
  padding-left: 30px;
}

.customer-image1 {
  width: 370px;
  padding-top: 5px;
}

.row {
  max-width: 83%;
}

.Header-paragraph {
 padding-top: 20px;
 color: darkgrey;
 font-size: 15px;
 text-align:justify;
}

.left-container {
  width: 40%;
  align-items: center;
}

/* Box-2*/


.feats {
  color:mediumslateblue;
  padding-top: 150px;
}

.services {
color: mediumslateblue;
}

.service-title {
  padding-top: 20px;
  font-size: 40px;
}

.features {
  text-align: center;
}

.feat-para {
  padding-top: 20px;
}


